button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--spacing-small);
    padding-bottom: 6px;
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    border: 2px solid var(--color-primary);
    border-radius: var(--radius-small);
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-align: center;
    transition: all var(--transition-speed) ease-out;
    position: relative;
    top: 0;
  }
  
  button:hover {
    transform: translateY(-2px);
  }

  button:active {
    scale: 0.95;
    border-radius: var(--radius-large);
  }
  
  .button-primary {
    background-color: var(--color-primary);
    color: var(--color-text-inverted);
  }
  
  .button-primary:hover {
    background-color: transparent;
    color: var(--color-primary);
  }
  
  .button-secondary {
    background-color: transparent;
    color: var(--color-primary);
  }
  
  .button-secondary:hover {
    background-color: var(--tint-purple);
    color: var(--color-primary);
  }
  
  .button-icon {
    margin-left: 2px;
    margin-top: 1px;
    margin-right: 0px;
    display: inline-flex;
    align-items: center;
  }
  
  .button-group {
    display: flex;
    gap: var(--spacing-large);
  }