.icon-button {
  height: 40px;
  width: 40px;
  border-radius: var(--radius-large);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  padding: var(--spacing-tiny);
  transition: background-color 0.2s ease-in-out;
}

.icon-button a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.icon-button:hover {
  background-color: var(--accent-color-orange);
}

.icon-button a::after {
  display: none; /* This will prevent the underline from links.css */
}

.icon-button a:hover::after {
  display: none; /* This ensures it stays hidden on hover */
}
